.newAccount{
    color:yellow;
    cursor: pointer;
    font-weight: bold;
}
.submitButtom{
    cursor: pointer;
    background:black;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
}
.CustomfromDesing{
    border:3px solid yellow;
    width: 400px;
    margin-left: 460px;
    padding: 20px;
    background:gray;
   
}
.loginClass{
    /* background:gray; */
}
