.Home-bg{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
}
.customdeck{
  width: 80%;
  float:right;
}
.CustomCard{
 position: relative;
 margin: 100px 0px 0px 0px;
}

.buttonStyle{
    border-radius:10px;
     padding:8px;
     color: white;
}